<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-ng-app="ChatEadoApp">
	<div data-ng-controller="ChatController as cc" >
		<div th:if="${#httpSession}">
			<div th:if="${#httpSession.getAttribute('usuario')}">
				<div th:attr="ng-init='cc._initUser(' + ${#httpSession.getAttribute('usuario')} + ')'"></div>
			</div>
		</div>
		<a th:href="@{/login}">Logout</a>
		<div class="panel panel-default col-md-6 col-md-offset-3 col-xs-12" style="margin-bottom: 0px">
			<div class="panel-head" data-ng-show="cc.conversasAtivas.length > 0">
				<ul class="nav nav-tabs">
					<li role="" data-ng-repeat="conv in cc.conversasAtivas" 
						 data-ng-class="cc.idConversa == conv.idConversa ? 'active' : ''">
						<a data-ng-click="cc.setConversation(conv)"> {{ conv.descricao }} </a>
					</li>
					<li class="pull-right" data-ng-show="cc.idConversa">
						<button data-ng-click="cc.closeConversation(cc.idConversa)" type="button" class="close text-danger">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
					</li>
				</ul>
			</div>
			<div class="panel-body">
				<div id="scrollMessages" style="overflow-y: auto;overflow-x: hidden;height: 250px;border: solid 2px; border-color: rgb(186, 210, 234); border-bottom: none;">
					<div class="row" data-ng-repeat="me in cc.messages">
						<div class="col-xs-12" style="margin: 5px;">
							<div data-ng-if="!(me.usuario == cc.user.username || me.usuario == 'ChatEadoBot')">
								<b style="color:rgb(4, 142, 219)"> {{me.usuario}} </b>
								<br />
								<div style="background-color: rgb(199, 237, 252);color: black;border: solid 1px;border-color:rgb(199, 237, 252);border-radius: 1px; margin-right: 45px">
									<div class="row" style="padding: 5px;word-break: break-word;">
										{{me.corpo}}							
									</div>
									<br />
									<div class="row text-right" style="padding-right: 5px">
										<small style="margin-bottom: 0px;color: rgb(102, 116, 156);">{{me.dataEnvio}}</small>
									</div>
								</div>
							</div>
							<div data-ng-if="me.usuario == cc.user.username">
								<div style="background-color: rgb(230, 233, 237);color: black;border: solid 1px;border-color:white;border-radius: 1px; margin-left: 45px; margin-right: 5px">
									<div class="row" style="padding: 5px;word-break: break-word;">
										{{me.corpo}}							
									</div>
									<br />
									<div class="row text-right" style="padding-right: 5px">
										<small style="margin-bottom: 0px;color:rgb(102, 116, 156);">{{me.dataEnvio}}</small>
									</div>
								</div>
							</div>
							<div data-ng-if="me.usuario == 'ChatEadoBot'">
								<b style="color:rgb(4, 142, 219)"> {{me.usuario}} </b>
								<br />
								<div style="background-color: rgb(230, 233, 237);color: black;border: solid 1px;border-color:white;border-radius: 1px; margin-right: 45px">
									<div class="row" style="padding: 5px;word-break: break-word;">
										<span data-ng-bind="me.corpo"></span>							
									</div>
									<br />
									<div class="row text-right" style="padding-right: 5px">
										<small style="margin-bottom: 0px;color:rgb(102, 116, 156);">{{me.dataEnvio}}</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="input-group">
					<input class="form-control" data-ng-model="cc.textSend"
						   data-ng-keypress="cc.enterSendMessage($event, cc.textSend)"/>
					<div class="input-group-btn">
						<button class="btn btn-default" data-ng-disabled="!cc.isConnected" 
								data-ng-click="cc.sendMessage(cc.textSend)">
							>>
						</button>
					</div>
				</div>
				<br/><br/><br/>
			</div>
			<div class="panel-footer" hidden="hidden">
				<input class="form-control hidden" data-ng-model="cc.idConversa" data-ng-disabled="cc.isConnected" />
				<div class="input-group">
					<input class="form-control" data-ng-model="cc.user.username" data-ng-disabled="cc.isConnected" />
					<input type="password" class="form-control" data-ng-model="cc.user.password" data-ng-disabled="cc.isConnected" />
					<div class="input-group-btn">
						<button class="btn btn-success" data-ng-disabled="!(!cc.isConnected || cc.user == null || cc.user == undefined || cc.user == '')" 
								data-ng-click="cc.connectChat()">
							Connect
						</button>
					</div>
					<div class="input-group-btn">
						<button class="btn btn-danger" data-ng-disabled="!cc.isConnected" 
								data-ng-click="cc.desconnectChat()">
							Desconnect
						</button>
					</div>
				</div>
			</div>
		</div>
		<div  class="panel panel-default col-md-2 col-xs-12" >
			<div class="panel-head text-center">
				<span class="">Users</span>
			</div>
			<div class="panel-body">
				<ul>
					<li  class="text-success" data-ng-repeat="uo in cc.usersOn">
						<span data-ng-bind="uo.username"></span>
					</li>
				</ul>
			</div>
			<hr></hr>
			<div class="panel-head text-center">
				<span class="">Conversas</span>
			</div>
			<div class="panel-body">
				<ul>
					<li data-ng-repeat="conv in cc.user.conexoes">
						<a data-ng-click="cc.setConversation(conv)"><span data-ng-bind="conv.descricao"></span></a>
					</li>
				</ul>
			</div>			
		</div>
	</div>
</html>